@import url("app.css");

body{
    background-image: url('../img/about-background.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header {
    padding: 4% 4% 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header figure {
    width: 20%;
}

.header figure img {
    width: 100%;
}

.main{
    padding: 4% 4% 4% 4%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: var(--white-light);
}

.main__message{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.main__logo{
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__logo img{
    width: 40%;
}

/* Estilos para tablets en modo retrato */
@media screen and (min-width: 100px) and (max-width: 767px) {
    .header {
        flex-direction: column;
    }
    
    .header figure {
        display: none;
    }

    .navbar {
        width: 100%;
    }

    .navbar a:first-child {
        margin-left: 0px;
    }

    .main{
        flex-direction: column-reverse;
    }

    .main__message{
        width: 100%;
    }

    .main__logo{
        width: 100%;
    }

    .main__logo img{
        width: 70%;
    }
}

/* Estilos para tablets en modo paisaje y monitores pequeños */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header__navbar{
        justify-content: center;
    }

    .header figure {
        width: 30%;
    }

    .navbar {
        width: 60%;
    }
}

/* Estilos para pantallas de escritorio y tablets en modo paisaje */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        width: 70%;
    }
}

/* Estilos para pantallas muy grandes (por ejemplo, 4K TVs) */
@media screen and (min-width: 1920px) {
    body{
        font-size: 30px;
    }

    .header figure {
        width: 30%;
    }

    .navbar {
        width: 50%;
    }

    .main{
        padding: 8% 4% 8% 4%;
    }
}