@import url("app.css");

body{
    background-image: url('../img/about-background.webp');
    background-size: cover;
}

.header {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header figure {
    padding-left: 2%;
}

.header figure img {
    width: 50%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-size: 20px;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--gray-dark);
    border-radius: 50px;
}

.navbar a {
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: transparent;
}

.navbar a:hover, .navbar .active {
    color: var(--primary);
}

.main{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    background-color: var(--white-light);
}

.main__message{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.main__logo{
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__logo img{
    width: 40%;

}