@import url("app.css");


body {
    min-height: 100vh;
    position: relative;
    color: white;
    padding: 0;
    margin: 0;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    position: relative;
    z-index: 2;
    padding: 4% 4% 7% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateY(-100%);
    animation: fadeInFromTop 1s ease forwards;
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header figure {
    width: 20%;
    opacity: 0;
    transform: translateY(-100%);
    animation: fadeInFromTop 1s ease forwards;
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header figure img {
    width: 100%;
    height: auto;
}

.main {
    position: relative;
    z-index: 2;
    padding: 4% 4% 4% 4%;
    background-color: var(--black-light);
    margin-bottom: 2%;
}

.title {
    width: 100%;
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 2%;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInFromBottom 1s ease forwards;
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

form {
    display: flex;
    justify-content: space-around;
    gap: 2%;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInFromBottom 1s ease forwards;
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.form_right {
    width: 50%;
    text-align: center;
}


legend {
    font-size: 20px;
    margin-bottom: 1%;
}

.form__type {
    display: flex;
    width: 75%;
    margin-bottom: 4%;
}

.form__price {
    display: flex;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    margin-bottom: 4%;  
}

.form__price input {
    padding: 10px 15px;
    border-radius: 25px;
    width: 50%;
}


.form__location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
}

.form__location input {
    padding: 10px 15px;
    border-radius: 25px;
    width: 50%;
}

.form__location input:last-child {
    width: 100%;
}

.form-group {
    display: flex;
    width: 100%;
}

.switch__multiple{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 4%;
}

.switch__binari{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-check {
    display: none;
}

.btn {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
}

#primero {
    border-radius: 25px 0 0 25px;
}

.btn:last-child {
    border-radius: 0 25px 25px 0;
}

.btn-check:checked+.btn {
    background-color: var(--primary);
    color: var(--white);
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}


.filter a button {
    width: 150%;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer {
    position: relative;
    z-index: 2;
}