@import url("app.css");

body{
    background-image: url('../img/home-background.webp');
    background-size: cover;
}

.header {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header figure {
    padding-left: 2%;
}

.header figure img {
    width: 50%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-size: 20px;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--gray-dark);
    border-radius: 50px;
}

.navbar a {
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: transparent;
}

.navbar a:hover, .navbar .active {
    color: var(--primary);
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    margin-top: 13%;
    margin-bottom: 13%;
    margin-left: 35%;
    margin-right: 35%;
}

section * {
    background-color: transparent;
    text-align: center;
}

.section__message {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.section__message span {
    font-size: 20px;
}

.section__message h1 {
    font-size: 40px;
}

.section__button button {
    margin-top: 4%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}