@import url("app.css");

body {
    background-color: gray;
    /* background-image: url('../img/home-background.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
}

.header {
    padding: 4% 4% 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header figure {
    width: 20%;
}

.header figure img {
    width: 100%;
}

.main {
    padding: 4% 4% 10% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    text-align: center;
    margin: 8% 29% 0 29%;
}

.section__message {
    color: var(--white);
    background-color: var(--black-light);
    border-radius: 50px;
    padding: 2% 15% 2% 15%;
}

.section__message span {
    font-size: 20px;
}

.section__message h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.1;
}

.section__button {
    text-align: center;
    margin-top: 8%;
}

.section__button button {
    width: 55%;
    background-color: var(--white);
    color: var(--black);
    border-radius: 50px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* 
=====================
|Estilos responsivos|
=====================
*/

/* Estilos para tablets en modo retrato */
@media screen and (min-width: 100px) and (max-width: 767px) {
    

    .header {
        flex-direction: column;
    }
    
    .header figure {
        width: 80%;
    }

    .navbar a:first-child {
        margin-left: 0px;
    }

    .navbar {
        width: 100%;
        margin-top: 5%;
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px;  
    }

    .section {
        margin: 30% 2% 30% 2%;
    }
}

/* Estilos para tablets en modo paisaje y monitores pequeños */
@media screen and (min-width: 768px) and (max-width: 991px) {
   
    body {
        background-color: blue;
    }

    .header figure {
        width: 20%;
    }

    .navbar {
        width: 70%;
    }

    .section {
        margin: 15% 20% 15% 20%;
    }

}

/* Estilos para pantallas de escritorio y tablets en modo paisaje */
/* @media screen and (min-width: 992px) and (max-width: 1199px) {
    .header figure {
        width: 60%;
    }

    .header figure img {
        width: 90%;
    }


    .section {
        margin-top: 30%;
        margin-bottom: 30%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .section__message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50px;
        height: 400px;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
} */

/* Estilos para pantallas grandes y televisores */
/* @media screen and (min-width: 1200px) and (max-width: 1919px) { 
    .header figure {
        width: 80%;
    }

    .navbar {
        font-size: 30px;
    }
    
} */

/* Estilos para pantallas muy grandes (por ejemplo, 4K TVs) */
/* @media screen and (min-width: 1920px) {
    .header figure {
        width: 90%;
    }

    .navbar {
        font-size: 40px;
    }
} */