@import url("app.css");

/* *{
    font-family: "poppins";
} */
.header{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    padding: 1% 5% 1% 5%;
}

.header__navbar{
    display: flex;
    justify-content: end;
}

.title{
    width: 30%;
    font-size: 48px;
    line-height: 1.1;
    opacity: 0;
    transform: translateY(-100%);
    animation: fadeInFromTop 1s ease forwards;
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main{
    padding: 1% 5% 1% 5%;
}

.navbar{
    margin-right: 0%;
    width: 42%;
    opacity: 0;
    transform: translateY(-100%);
    animation: fadeInFromTop 1s ease forwards;
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main{
    padding: 1% 5% 1% 5%;
}

.main__section{
    display: flex;
    justify-content: space-between;
    gap: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.main__section article{
    background-color: var(--gray-light);
    border-radius: 40px;
    padding: 20px;
}

.card{
    max-width: 290px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInFromBottom 1s ease forwards;
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card img{   
    width: 100%;
    height: auto;
    border-radius: 40px;
    
}

.card__info{
    display: flex;
    flex-direction: column;
}

.features{
    display: flex;
    justify-content: start;
    font-size: 15px;
    gap: 5px;
}

figcaption p{
    margin-top: 10px;
    text-align: left;
}

.price{
    margin-top: 3%;
}



/* Estilos para tablets en modo retrato */
@media screen and (min-width: 100px) and (max-width: 767px) {
    .header {
        flex-direction: column;
        width: 100%;
        margin-bottom: 3%;
    }
    
    .navbar{
        width: 100%;
    }
    
    .title{
        font-size: 35px;
        margin-top: 3%;
        text-align: center;
        width: 100%;
    }

    .main{
        padding: 1% 5% 1% 5%;
    }

    .main__section{
        flex-direction: column;
        gap: 5%;
    }

    .card{
        max-width: 700px;
    }

    .main__section article{
        margin-bottom: 3%;

    }
}

/* Estilos para tablets en modo paisaje y monitores pequeños */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header__navbar{
        justify-content: center;
    }

    .navbar {
        width: 70%;
    }

    .title{
        margin-top: 1%;
        width: 100%;
        text-align: center;
    }
}

/* Estilos para pantallas de escritorio y tablets en modo paisaje */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        width: 60%;
    }
}

/* Estilos para pantallas grandes y televisores */
@media screen and (min-width: 1200px) and (max-width: 1919px) {
    .main__section{
        gap: 4%;
    }

    .card{
        max-width: 800px;
    }
}

/* Estilos para pantallas muy grandes (por ejemplo, 4K TVs) */
@media screen and (min-width: 1920px) {
    body{
        font-size: 25px;
    }

    .navbar {
        width: 50%;
    }

    .title{
        font-size: 70px;
    }

    .main__section{
        gap: 4%;
    }
    
    .main__section article{
        width: 33.3%;
    }

    .card{
        max-width: 800px;
        font-size: 25px;
    }

    .features{
        font-size: 25px;
    }
}