@import url(app.css);

.header_roomies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3%;
    padding: 1% 5% 1% 5%;
}

.header__navbar{
    display: flex;
    justify-content: end;
}

.title{
    width: 40%;
    font-size: 48px;
    line-height: 1.1;
}


.main {
    padding: 1% 5% 1% 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container_roomie {
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    display: flex;
}

.card {
    width: 50%;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.rounded-image {
    width: 200px;
    border-radius: 50%;
}

.card a {
    color: rgb(255, 85, 0);
    border: 2;
    margin-top: 20px;
}