@import url(app.css);

body .main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container_roomie {
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    display: flex;
}

.card {
    width: 50%;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.rounded-image {
    width: 200px;
    border-radius: 50%;
}

.card a {
    background-color: rgb(255, 85, 0);
    color: white;
    border: 2;
    margin-top: 20px;
}